body{
    font-family: 'Kufam', cursive;
}

@media  (min-width: 0px) and (max-width: 320px) {
  body {
    background-color: 'green'
  }
}
@media  (min-width: 321px) and (min-width: 768px) {
  body {
    background-color: #aacbb6;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  body {
    background-color: #f6dfd2;
  }
}


img {
    border-radius: 8px;
    margin-bottom: 5px;
    max-width: 500px;
  }
  img #waka{
      max-width: 300px;
  }
  ul.a {
    list-style-type: circle;
  }

  ul #b {
    list-style-type: square;
    color:blue;
  }