body{
    font-family: 'Kufam', cursive;
}

img {
    border-radius: 8px;
    margin-bottom: 5px;
    max-width: 500px;
  }
  img #waka{
      max-width: 300px;
  }
  ul.a {
    list-style-type: circle;
  }

  ul #b {
    list-style-type: square;
    color:blue;
  }